*{
    
}

html{
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf2c5;
    box-sizing: border-box;
    width: 1260px;
    height: 940px;
}
main{
    width: 940px;
}
div{
    border-radius: 3px;
}

.banner .banner-top{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.banner-top h1{
    color: #778a50;
    font-family: "Arial Black", sans-serif;
    font-size: 44px;
    margin: 53px 0 8px 0;
}
.banner .banner-icon{
    display: flex;
    width: calc(25px*2 + 60px + 50px + 10px*4);
    justify-content: space-between;
    margin-bottom: 17px;
}
.banner-icon img{
    width: 25px;
    height: 25px;
}
.banner .banner-decoline{
    background-color: #778a50;
    width: 1px;
    height: 25px;
}
.banner-icon .login, .banner-icon .join{
    height: 25px;
    border: 1px solid #778a50;
    border-radius: 3px;
    background-color: #edf2c5;
    color: #778a50;
    font-family: "Arial BoldMT", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.banner .nav{
    background-color: #778a50;
    display: flex;
    height: 44px;
    margin-bottom: 20px;
    align-items: center;
}
.banner .nav p{
    font-family: "Arial Black", sans-serif;
    color: #edf2c5;
    font-size: 16px;
    margin: 16px 30px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 35px;
    height: calc(45px + 15px + 140px);
}
.content-vegetables, .content-contact{
    width: 445px;
}
.content-title{
    display: flex;
    align-items: center;
    height: 45px;
    background-color: #778a50;
    color: #edf2c5;
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}
.content-title p{
    margin: 15px auto 15px 30px;
}
.content-vegetables .img-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
    background-color: #f7fbda;
    font-family: "ArialMT Regular", sans-serif;
    font-size: 12px;
    line-height: 1.33;
    color: #7d7d7d;
}
.contact-text p{
    margin: 16px 15px;
}
.contact-text .contact-information{
    line-height: 1.83;
}
.contact-text .contact-decoline{
    width: 414px;
    height: 1px;
    background-color: #7d7d7d;
    margin: 0 15px;
}

footer{
    background-color: #778a50;
    height: calc(12px + 24px +25px);
    width: 100vw;
}
footer p{
    padding: 24px 479px 25px 479px;
    margin: 0;
    text-align: center;
    color: #edf2c5;
    font-size: 12px;
    font-family: "ArialMT Regular", sans-serif;
}
